In [3]:
import pandas as pd

data = pd.read_csv('restaurant_menu_optimization_data.csv')
data.head()

,RestaurantID,MenuCategory,MenuItem,Ingredients,Price,Profitability
0,R003,Beverages,Soda,['confidential'],2.55,Low
1,R001,Appetizers,Spinach Artichoke Dip,"['Tomatoes', 'Basil', 'Garlic', 'Olive Oil']",11.12,Medium
2,R003,Desserts,New York Cheesecake,"['Chocolate', 'Butter', 'Sugar', 'Eggs']",18.66,High
3,R003,Main Course,Chicken Alfredo,"['Chicken', 'Fettuccine', 'Alfredo Sauce', 'Pa...",29.55,High
4,R002,Main Course,Grilled Steak,"['Chicken', 'Fettuccine', 'Alfredo Sauce', 'Pa...",17.73,Medium

In [4]:
df = data[['RestaurantID', 'MenuCategory', 'MenuItem', 'Price', 'Profitability']]
df.head()

  RestaurantID MenuCategory               MenuItem  Price Profitability
0         R003    Beverages                   Soda   2.55           Low
1         R001   Appetizers  Spinach Artichoke Dip  11.12        Medium
2         R003     Desserts    New York Cheesecake  18.66          High
3         R003  Main Course        Chicken Alfredo  29.55          High
4         R002  Main Course          Grilled Steak  17.73        Medium

In [5]:
df['Price'] = pd.to_numeric(df['Price'], errors='coerce')
df['Price'] = df['Price'].astype('int32')

C:\Users\HP\AppData\Local\Temp\ipykernel_58304\3811055232.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Price'] = pd.to_numeric(df['Price'], errors='coerce')
C:\Users\HP\AppData\Local\Temp\ipykernel_58304\3811055232.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Price'] = df['Price'].astype('int32')

In [6]:
from sklearn.preprocessing import LabelEncoder
label_encoders = LabelEncoder()

# Encode categorical variables
categorical_cols = ['RestaurantID', 'MenuCategory', 'MenuItem']
label_encoders = {col: LabelEncoder() for col in categorical_cols}

def encode_Profitability(Profitability):
    if Profitability == 'Low':
        return 0
    elif Profitability == 'Medium':
        return 1
    elif Profitability == 'High':
        return 2
    else:
        return None
    
# Terapkan fungsi pada kolom 'Income'
df['Profitability'] = df['Profitability'].apply(encode_Profitability)

for col in categorical_cols:
    df[col] = label_encoders[col].fit_transform(df[col])

C:\Users\HP\AppData\Local\Temp\ipykernel_58304\3982378676.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Profitability'] = df['Profitability'].apply(encode_Profitability)
C:\Users\HP\AppData\Local\Temp\ipykernel_58304\3982378676.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col] = label_encoders[col].fit_transform(df[col])
C:\Users\HP\AppData\Local\Temp\ipykernel_58304\3982378676.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col] = label_encoders[col].fit_transform(df[col])
C:\Users\HP\AppData\Local\Temp\ipykernel_58304\3982378676.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col] = label_encoders[col].fit_transform(df[col])

In [7]:
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score, classification_report

X = df.drop(columns=['Profitability'])  
y = df['Profitability']

In [8]:
# Membagi data menjadi set pelatihan dan set pengujian
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [9]:
from sklearn.neighbors import KNeighborsClassifier

# Membuat dan melatih model
model_knn = KNeighborsClassifier()
model_knn.fit(X_train, y_train)

# Evaluasi model
y_pred_knn = model_knn.predict(X_test)

In [10]:
new_data = {
    'RestaurantID': ['2'],
    'MenuCategory': ['1'],
    'MenuItem': ['2'],
    'Price': [15]
}
df_new = pd.DataFrame(new_data)
pred1 = model_knn.predict(df_new)
print(pred1)

[2]

In [12]:
import pickle

In [13]:
filename = 'resto_model.sav'
pickle.dump(model_knn, open(filename,'wb'))